venv
*.pyc
.idea
newrelic.ini
.coverage
flask_psi/reports
nosetests.xml
.ropeproject
coverage.xml
*.log
.vscode
pip-delete-this-directory.txt
scripts
dist
*.egg-info
PKG-INFO
pre-commit.sh
.#*
run_test.sh 
.eggs
.projectile
.noseids
psi/static/uploaded/*.png
psi/static/uploaded/*.jpg
psi/static/uploaded/*.gif
psi/static/uploaded/*.jpeg
target/
htmlcov/
node_modules/
*.swp