@media (min-width: 768px) {
    .container {
        min-width: 750px;
        width:100%
    }
}

@media (min-width: 992px) {
    .container {
        min-width: 970px
        width:100%
    }
}

@media (min-width: 1200px) {
    .container {
        min-width: 1170px
        width:100%
    }
}

.glyphicon-pencil {
    margin-right:10px;
}

input[name='_continue_editing'],
input[name='_add_another'] {
    margin-left:20px;
    margin-right:20px;
}

#admin-navbar-collapse>.glyphicon {
    padding-right:10px;
}


.dashboard-container {
    margin-top:150px;
    margin-bottom: 100px;
}

.dashboard-button, .dashboard-container > div > div > a {
    color: #428bca;
    width: 120px;
}

.dashboard-row .btn-default {
    border-color: #428bca;
    background-image: none;
}

.dashboard-row {
    margin-bottom: 80px;
}

.dashboard-cell {
    margin-right: 80px;
}

.flask-logo {
    padding-left:5px;
    padding-top:12px;
    opacity: 0.2;
    filter:alpha(opacity=20);
}

.help-block {
    color: #737373;
    /*font-family: 'Microsoft YaHei', sans-serif; */
    font-style: italic;
    font-size: smaller;
    background: url("cueTip.gif") no-repeat left;
    background-position-y:2px;
    text-decoration: none;
    padding-left: 15px;
}

.inline-field-list a {
    color: #000000;
    text-decoration: none;
}
.accordion-toggle:before {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";
    float: left;
    color: grey;
    padding-right: 20px;
    padding-top:4px;
}
.accordion-toggle.collapsed:before {
    /* symbol for "collapsed" panels */
    content: "\e080";
}

.col-id {
    width:80px;
}

.model-list .col-md-1 {
    width:90px;
}

.popover {
    max-width:400px;
}