{% import 'admin/layout.html' as layout with context -%}
{% extends 'admin/base.html' %}

{% block head_tail %}
  {{ super() }}
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="icon" type="image/x-icon">
{% endblock %}

{% block tail %}
  {{ super() }}
  <script src="http://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.0.1/ckeditor.js"></script>
  <script>
  $(document).ready(function(){
      $('[data-toggle="popover"]').popover({
          html: true,  placement: "bottom",
          viewport: {selector: 'body', padding: 5}
      })
  });
  $('body').on('click', function (e) {
      $('[data-toggle="popover"]').each(function () {
          //the 'is' for buttons that trigger popups
          //the 'has' for icons within a button that triggers a popup
          if (!$(this).is(e.target) && $(this).has(e.target).length === 0
                  && $('.popover').has(e.target).length === 0) {
              $(this).popover('hide');
          }
      });
  });
  </script>
{% endblock %}

{% block access_control %}
{% if current_user.is_authenticated() %}
<ul class="nav navbar-nav pull-right">
  <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
        <i class="glyphicon glyphicon-user"></i>  {{ current_user.display }} <b class="caret"></b>
      </a>
    <ul class="dropdown-menu">
      <li>
        <a href="{{ url_for('admin.logout_view') }}"><i class='glyphicon glyphicon-log-out'></i> Log out</a>
      </li>
    </ul>
  </li>
</ul>
{% endif %}
{% endblock %}