{% extends 'layout.html' %}
{% block body %}
  <div class="dashboard-container">
    <a href="{{ url_for('product_inventory.index_view') }}">
      <button class="btn dashboard-button btn-warning" style="width:900px">
        <span class="glyphicon glyphicon-bell"></span><span class="glyphicon glyphicon-info-sign"></span>
        <span class="glyphicon glyphicon-alert"></span>店铺重点产品运营诊断
      </button>
    </a>
    <br>
    <button class="btn dashboard-button btn-info"><span class="glyphicon glyphicon-triangle-right"></span>采购及支出</button>
    <a href="{{ url_for('purchaseorder.index_view') }}">
      <button class="btn btn-default dashboard-button"><span class="glyphicon glyphicon-shopping-cart"></span>采购单</button>
    </a>
    <a href="{{ url_for('receiving.index_view') }}">
      <button class="btn btn-default dashboard-button"><span class="glyphicon glyphicon-import"></span>收货</button>
    </a>
    <a href="{{ url_for('expense.index_view') }}">
      <button class="btn btn-default dashboard-button">
        <span class="glyphicon glyphicon-yen"></span>支出
      </button>
    </a>
    <br>
    <button class="btn dashboard-button btn-info"><span class="glyphicon glyphicon-cog"></span>数据管理</button>
    <a href="{{ url_for('supplier.index_view') }}">
      <button class="btn btn-default dashboard-button"><span class="glyphicon glyphicon-globe"></span>供应商</button>
    </a>
    <a href="{{ url_for('product.index_view') }}">
      <button class="btn btn-default dashboard-button"><span class="glyphicon glyphicon-barcode"></span>产品</button>
    </a>
    <a href="/admin/import_store_data">
      <button class="btn btn-default dashboard-button"><span class="glyphicon glyphicon-upload"></span>导入数据</button>
    </a>
  </div>
{% endblock %}